<div class="row">
  <div class="col-md-12">
    <div class="segment-page-header">
      <div class="container first-column">
          <div class="segment-page-title">  <img src="MiQ_logo_RGB_200px.png" style="height:30px;"/></div>
      </div>
    </div>
  </div>
</div>

<div class="container content-container">
    <div class="card">
        <div class='col-md-6'>
     <div class="row">
        <div class="col-md-6">
            <md-datepicker md-placeholder ="Start Date" ng-model="request1.start_date">
            </md-datepicker>  
        </div>
        <div class="col-md-5">
             <md-datepicker md-placeholder ="End Date" ng-model="request1.end_date">
            </md-datepicker>   
        </div>
         <div class="col-md-1">
             <button ng-if="!showAnotherDiv" class="btn btn-success" ng-click="showDiv()"> <i class="fa fa-plus" ></i></button>
              <button ng-if="showAnotherDiv" class="btn btn-success" ng-click="showDiv()"> <i class="fa fa-minus" ></i></button>
        
         </div>
        </div>
        <br>
        <div class="row">
             <md-input-container class="md-block">
        <label class="label-color">Site Domain:</label>
        <md-select ng-model="request1.site_domain" multiple="true">
          <md-option ng-repeat="s in site_domain_list" value="{{s}}">{{s}}</md-option>
        </md-select>
      </md-input-container>
        
        </div>  
        <div class="row">
             <md-input-container class="md-block">
        <label class="label-color">Seller Member:</label>
        <input ng-model='request1.seller_member'>
      </md-input-container>
        
        </div>
         <div class="row">
             <md-input-container class="md-block">
        <label class="label-color">Tag Id:</label>
        <input ng-model='request1.tag_id'>
      </md-input-container>
        
        </div>  
        <div class="row">
             <md-input-container class="md-block">
        <label class="label-color">Postcode:</label>
        <input ng-model='request1.post_code'>
      </md-input-container>
        
        </div> 
         
  <div class="row">
        <button class="btn btn-primary" style="float:left;margin-left: 35px" ng-click="reset1()">Reset</button>
        <button class="btn btn-primary" style="float:right" ng-click="generate()">Generate</button>
      
        </div>
        </div>
         <div class='col-md-6' ng-show="showAnotherDiv">
     <div class="row">
        <div class="col-md-6">
            <md-datepicker md-placeholder ="Start Date" ng-model="request2.start_date">
            </md-datepicker>  
        </div>
        <div class="col-md-6">
             <md-datepicker md-placeholder ="End Date" ng-model="request2.end_date">
            </md-datepicker>   
        </div>
    </div>
        <br>
        <div class="row">
            <md-input-container class="md-block">
        <label class="label-color">Site Domain:</label>
        <md-select ng-model="request2.site_domain" multiple="true">
          <md-option ng-repeat="s in site_domain_list" value="{{s}}">{{s}}</md-option>
        </md-select>
      </md-input-container>
        
        </div>  
        <div class="row">
             <md-input-container class="md-block">
        <label class="label-color">Seller Member:</label>
        <input ng-model='request2.seller_member'>
      </md-input-container>
        
        </div>
         <div class="row">
             <md-input-container class="md-block">
        <label class="label-color">Tag Id:</label>
        <input ng-model='request2.tag_id'>
      </md-input-container>
        
        </div>  
        <div class="row">
             <md-input-container class="md-block">
        <label class="label-color">Postcode:</label>
        <input ng-model='request2.post_code'>
      </md-input-container>
        
        </div> 
        <div class="row">
        <button class="btn btn-primary" style="float:left;margin-left: 35px" ng-click="reset2()">Reset</button>
        </div>

        </div>
     </div>
    </div>
       
