/* app css stylesheet */
body {
  background-color: #fdfdfd;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 8px 0 rgba(174, 191, 211, 0.5);
  border: solid 1px #ece6e6;
  height:550px;

}

.content-container {
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
}

.segment-page-header {

  background-color: purple;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.segment-manager-header-height{
  height: 40px;
}

.segment-page-title {
  font-size: 15px;
  word-break: break-all;
  margin-left: 20px;
}

.md-block {
    width:500px !important;
    margin-left: 35px;
}
.label-color{
   /* color:black;*/
    font-weight: 100;
    
}

