<div class="row">
  <div class="col-md-12">
    <div class="segment-page-header">
      <div class="container first-column">
        <div class="segment-page-title">   Configuration</div>
      </div>
    </div>
  </div>
</div>
<div class="container content-container">
    <div class="card">
        <div class='col-md-12'>
     <div class="row">
        <div class="col-md-6">
            <md-datepicker md-placeholder ="Start Date" ng-model="request.start_date">
            </md-datepicker>  
        </div>
        <div class="col-md-6">
             <md-datepicker md-placeholder ="End Date" ng-model="request.end_date">
            </md-datepicker>   
        </div>
    </div>
        <br>
        <div class="row">
             <md-input-container class="md-block">
        <label>Site Domain:</label>
        <input ng-model='request.site_domain'>
      </md-input-container>
        
        </div>  
        <div class="row">
             <md-input-container class="md-block">
        <label>Seller Member:</label>
        <input ng-model='request.seller_member'>
      </md-input-container>
        
        </div>
         <div class="row">
             <md-input-container class="md-block">
        <label>Tag Id:</label>
        <input ng-model='request.tag_id'>
      </md-input-container>
        
        </div>  
        <div class="row">
             <md-input-container class="md-block">
        <label>Postcode:</label>
        <input ng-model='request.post_code'>
      </md-input-container>
        
        </div> 
         <div class="row">
           <md-input-container class="md-block">
        <label>Browser:</label>
        <input ng-model='request.browser'>
      </md-input-container>  
        </div>
    
        <div class="row">
        <button class="btn btn-primary" style="margin-top:1px;margin-left:950px">+ Config</button>
        <button class="btn btn-primary" style="float:right">Generate</button>
        </div>

        </div>
     <!--</div>
    </div>
        </div>
